<div class="container marketing" ng-controller='loginArea'>

  <hr class="featurette-divider">

  <div class="featurette">
    <!-- <img class="featurette-image pull-right" src="../assets/img/examples/browser-icon-chrome.png"> -->
    <h2 class="featurette-heading">Your Music Day in Review <br>  
      <h3 class="featurette-heading"><span class="muted"> Log In to Create Your Listening Card</span></h3>
    </h2>
    <p class="lead"><a target="_self" ng-href='http://www.last.fm/api/auth/?api_key=061fcc49510b182e98f96633aca83d35&cb=http%3A%2F%2F127.0.0.1%3A1337%2Fauth'>LOG IN TO LAST.FM</a></p>
  </div>
  <hr class="featurette-divider">

</div> 
